.container {
  margin: 10rem auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.header {
  color: #23967f;
  text-align: center;
  margin-bottom: 6rem;
  font-size: 3rem;
  font-family: "Kaushan Script", cursive;
}

.subheader {
  color: #ff69b4;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.text {
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

.content {
  display: flex;
  align-items: center;
}

.image {
  margin-left: 40px;
  max-width: 50%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 7rem;
    margin-bottom: 2rem;
    max-width: 800px;
    padding: 0 1rem;
  }
  .header {
    color: #23967f;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .text {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  .content {
    flex-direction: column;
    margin: 0 auto;
  }
  .image {
    margin-left: 0px;
    max-width: 100%;
    height: auto;
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 960px) {
  .container {
    margin: 6rem auto;
  }
  .header {
    color: #23967f;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .content {
    flex-direction: column;
    margin: 0 auto;
  }
  .image {
    margin-left: 0px;
    max-width: 100%;
    height: auto;
  }
}
